<div class="top-bar">
    <i class='bx bx-menu'></i>
    <div class="search">
        <input class="form-control me-2 timkiem"  placeholder="Tìm kiếm" aria-label="Search" >
        <label for="search"><i class="fas fa-search"></i></label>
    </div>
    <i class='bx bxs-bell-ring'></i>
    <div class="user">
        <img src="images/avt.jpg" alt="">
    </div>
</div>
<div class="cards">
    <div class="card">
        <div class="card-content">
            <div class="number">67</div>
            <div class="card-name">Số lượng thành viên</div>
        </div>
        <div class="icon-box">
            <i class='bx bxs-grid-alt'></i>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="number">105</div>
            <div class="card-name">Dự án sắp triển khai</div>
        </div>
        <div class="icon-box">
            <i class='bx bxl-shopify'></i>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="number">8</div>
            <div class="card-name">Các task đang xử lý</div>
        </div>
        <div class="icon-box">
            <i class='bx bxs-user-rectangle'></i>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <div class="number">$4500</div>
            <div class="card-name">Tổng chi phí các dự án</div>
        </div>
        <div class="icon-box">
            <i class='bx bx-dollar'></i>
        </div>
    </div>
</div>