<div class="tables">
    <div class="last-appointments">
        <div class="heading">
            <h2>Chi Tiết Dự Án</h2>
        </div>
        <div class="about">
            <div class="container" id="chitietsp">
                <div class="row">
                    <div class="box_about">
                    
                    <div class="about_box">
                            <h3>Tên Dự Án: {{da.tenDuAn}}</h3>
                            <p>Giá: {{da.tien.toLocaleString('vi-VN')+ " VNĐ"}}</p>
                            <p style="display: flex;">
                                Ngày Bắt Đầu: {{da.ngayStart}}
                            </p>
                            <p>Leader: {{da.leader}}</p>
                            <p>Thành Viên: {{da.thanhvien}}</p>
                            <!-- <a href="#" class="btn btn-grad">Mua Ngay</a> -->
                    </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</div>

           


