
  .about .about_box figure {
    margin: 0;
  }
  .about .about_box figure img {
    width: 350px; height: 350;
  }
  .about .about_box h3 {
    color: #000; font-weight: bold; font-size: 30px; line-height: 35px;
  }
  .about .about_box p {
    color: #000; font-size: 17px; line-height: 23px; padding-top: 10px;
  }
  .about_box{
    margin-left: 20px;
  }
  .box_about{
    width: 100%;
    display: flex;
  }
    a{
        text-decoration: none;
    }
  .btn-grad {
    background-image: linear-gradient(to right, #00c6ff 0%, #0072ff  51%, #00c6ff  100%);
    width: 150px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
  }

  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
 
  
.tables{
    width: 100%;
    display:grid;
    grid-gap:20px;
    align-items: self-start;
    padding: 0 20px 20px 20px;
}
.last-appointments {
    min-height:350px;
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #444;
}
.btn{
    padding: 5px 10px;
    background: linear-gradient(45deg, #47cebe, #ef4a82);
    color: #fff;
    text-decoration: none;
    text-align: center;
}

table{
    margin-top: 10px;
    width: 100%;
    border-collapse: collapse;
}

thead td{
    font-weight: 600;
    color: #333;
}

table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

tbody tr:hover{
    background: #444;
    color: #fff;
}

table tbody tr:last-child{
    border-bottom: none;
}


td{
    padding: 9px 5px;
}

td i{
    padding: 7px;
    color: #fff;
    border-radius: 50px;
}

.last-appointments table tbody td:last-child{
    white-space: nowrap;
}

.fa-eye{
    cursor: pointer;
    background: #32bea6;
}
.fa-eye:hover{
    transition: 0.2s;
    background: #f0420d;
}

.fa-edit{
    cursor: pointer;
    background: #63b4f4;
}
.fa-edit:hover{
    transition: 0.2s;
    background: #db0404;
}

.fa-trash-alt{
    cursor: pointer;
    background: #ed5564;
}
.fa-trash-alt:hover{
    transition: 0.2s;
    background: #049b31;
}
.btn{
	align-items:flex-start;
	margin-top: 10px;
	background-color:#0d6efd;
	border-color:#0d6efd;
	border-radius:4px;
	border-style:solid;
	border-width:1px;
	color:#ffffff;
	display:inline-block;
	font-family:var(--roboto);
	line-height:24px;
	padding:8px 24px;
	text-align:center;
	cursor: pointer;
	transition: 0.2s;
}
.btn:hover{
	box-shadow: #8ac0f1 0px 0px 0px 3px;
}

@media(max-width:1090px){
    .sidebar{
        width: 60px;
    }
    .main{
        width: calc(100% - 60px);
        left: 60px;
    }
    .top-bar{
        width: calc(100% - 60px);
    }
}
@media(max-width:860px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .tables{
        grid-template-columns: 1fr;
    }
}
@media(max-width:530px){
    .cards{
        grid-template-columns: 1fr;
    }
    .last-appointments td:nth-child(3){
        display: none;
    }
}
@media(max-width:420px){
    .last-appointments, .doctor-visiting{
        font-size: 70%;
        padding: 10px;
        min-height:200px;
    }
    .cards, .tables{
        padding: 10px;
    }
    .search input{
        padding: 0 10px;
    }
    .user{
        width: 40px;
        height: 40px;
    }
}